body {
  font-family: Arial, sans-serif;
  background: #ff8c42;
  margin: 0;
  padding: 20px;
  color: #222;
}

#app {
  max-width: 720px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  color: #d35400;
}

.hidden {
  display: none;
}

button {
  background: #d35400;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #e67e22;
}

.logout-btn {
  background: #c0392b;
}

#lista {
  background: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  min-height: 100px;
  white-space: pre-wrap;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}
